 body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 128, 0, 0.7); /* Transparent green for PC */
  text-align: center;
  white-space: nowrap;
}

/* Tablet */

@media (max-width: 1024px) and (min-width: 601px) {
  body {
    background-color: rgba(107, 22, 65, 0.7); /* Transparent pink */
  }
}

/* Phone */

@media (max-width: 600px) {
  body {
    background-color: rgba(16, 16, 22, 0.7); /* Transparent blue */
  }