
* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: black;
    padding: 10px;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: white;
    padding: 10px;
}

header li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

header a{
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

.box {
    width: 500px;
    padding: 30px;
    transition: transform .5s;
}

.btn-Signup{
    background-color: orange;
    margin-top: 10px;
    padding:7px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}

.summary {
    font-size: 20px;
    margin-top: 10px;
}

.image {
    border-radius: 50px;
}

.title {
    font-size: 30px;
}
#projects {
    background-color: #d6c9f0;
    padding: 40px 20px;
}

.projects-heading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.projects-container {
     display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;

}

.project-card {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    padding: 28px 24px;
    margin-top: 12px;
    margin-bottom:16px;
    text-align: center;
    box-sizing: border-box;
}

.demo-button {
    padding: 8px 16px;
    background-color: teal;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    color:white;
    margin-top:16px;
    justify-content: space-between;
}
#services{
    background-color:#13294B;
    margin: 0;
  padding: 40px 20px;
}
.section-heading {
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
    font-weight: bold;
    color: white;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto;
    padding: 20px;
    
}


.service-card {
    background-color:white;
    border: 2px solid black;
    border-radius: 16px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    
}
#about{
    background-color:#D3D3D3;
     margin: 0;
  padding: 30px 20px;
}
.about-container {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 12px;
    line-height: 1.6;
    font-size: 18px;
    text-align: center;
   
}
#contact{
    background-color:#f49a8d;
     margin: 0;
  padding: 40px 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.contact-form {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}
.about-heading{
    color: black;
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
    font-weight: bold;
}
.box:hover {
    transform: scale(1.1,1.1);
}
.h{
    margin-top:5px;
}
.p{
    margin-top: 5px;
    line-height: 1.4;
}
.p-image{
    width: 3o%;
    height: 40%;;
    border-radius: 8px;
    margin-bottom: 12px;
    align-items: center;
     margin: 12px auto; 
    display: block;
}
.pro-image{
    width: 120px; 
    height: 120px; 
    border-radius: 100%; 
    display: block;
    margin: 0 auto 15px; 
    margin-top: 40px;
     object-fit: cover;
    object-position: center; 
}
.about-heading{
    margin-top:10px;
}