
 * {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: black;
    padding: 10px;
}

li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

* {
    margin: 0;
}

.container {
    width: 100%;
    margin: auto
}

header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    color: pink;
    padding: 10px;
}

header li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
}

header a{
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 500px;
    padding: 30px;
}

.btn-Signup{
    background-color: orange;
    margin-top: 10px;
    padding:7px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}

.summary {
    font-size: 20px;
    margin-top: 10px;
}

.image {
    border-radius: 50px;
}

.title {
    font-size: 30px;
}
#projects {
    background-color: #d6c9f0;
    padding: 40px 20px;
}

.projects-heading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.projects-container {

     display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.project-card {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.demo-button {
    padding: 8px 16px;
    background-color: #eee;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
}
.section-heading {
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
    font-weight: bold;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px auto;
    background-color: #b5b1b5;
    padding: 20px;
}

.service-card {
    background-color: #e6e6e6;
    border: 2px solid: #d6c9f0c;
    border-radius: 16px;
    width: 250px;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.about-container {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    background-color: #df7a7a;
    border-radius: 12px;
    line-height: 1.6;
    font-size: 18px;
    text-align: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: aqua;
}

.contact-form {
    background-color:#be7fdf;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(170, 130, 130, 0.1);
    width: 100%;
    max-width: 500px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #9c7777;
    border-radius: 6px;
    font-size: 16px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #eaca00;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}
~